- if brick.image.present?
  .control-group
    %label.control-label= t('.image_preview')
    .controls
      = image_tag brick.image(:thumb)
= form.file_field :image
%p
  %br
  Breite maximal 1200px (ganze Breite der Website), Höhe maximal 900px
  %br
  Grössere Bilder werden verkleinert. Kleinere Bilder werden zentriert dargestellt.
