header
  height: 120px
  text-align: right

  .logo
    height: 120px
    position: absolute
    left: 0
    top: 0

  .date
    position: absolute
    right: 0
    top: 5px

  .top-bar-section
    height: 120px
    ul
      position: absolute
      right: -5px
      bottom: 0
