- activities = Activity.ordered


#activity-list
  .row
    .columns
      - 4.times do
        - activities.each_with_index do |act, index|
          .row
            .column.large-10.large-centered
              .activity{ class: index.even? ? 'act-left' : 'act-right' }
                .dateandtime
                  = act.date
                  = act.time
                %h3= act.title
                %p= act.description
                %hr

