- suppliers = Supplier.all.ordered

#supplier-grid
  .row
    - suppliers.each do |sup|
      .supplier-wrapper.column.large-2
        = link_to sup.link, target: '_blank' do
          .supplier-tile
            = image_tag(sup.logo(:care))
            .name= sup.name
