- suppliers = Supplier.all.ordered

#supplier-list
  - suppliers.each do |sup|
    .row
      .supplier-item.columns.large-8.large-centered
        = link_to sup.link, target: '_blank' do
          .supplier-wrapper
            .name= sup.name
