- suppliers = Supplier.all.ordered

#supplier-list
  .row
    - suppliers.each do |sup|
      .supplier-item.columns.large-8.large-centered
        = link_to sup.link, target: '_blank' do
          .supplier-wrapper
            = image_tag(sup.logo(:thumb))
            .name= sup.name
